<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>MarketPredict.io</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'MarketPredictIo/css/navbar.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'MarketPredictIo/css/main.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'MarketPredictIo/css/universal.css' %}" >
    <link rel="shortcut icon" href="#" />
    <script src="{% static 'MarketPredictIo/js/test.js' %}" ></script>
<body>
    <div>
        <ul>
            <li><a class="active" href="#">Home</a></li>
            <li><a href="/wiki">Wiki</a></li>
        </ul>
    </div>
    <h1 class="" style="text-align: center;">Welcome to MarketPredict.io!</h1>
    <div style="text-align: center;" class="flex-container">

        <div class="upper-column">
            <h5>You can teach your neural network here.</h5>
            <form id="left_form" class="form-class" target="results_iframe" action="/results/" method="post">
                {% csrf_token %}
                <div class="table-parent">
                    <div class="table-row">
                        <div class="table-cell-left">
                            <label>Name of the model</label>
                        </div>
                        <div class="table-cell-right">
                            <input name="model-name" type="text" value="StandardNN">
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell-left">
                            <label>Start date for training data<span data-toggle="tooltip" data-placement="bottom"
                              title="You need to have at least 125 working days between the dates. If you choose more - the last 125 will be used for training."> (?)</span>
                            </label>
                        </div>
                        <div class="table-cell-right">
                            <input type="date" id="start" name="start-date"
                               value="2016-02-01"
                               min="2000-01-01" max="2017-11-10">
                        </div>
                    </div>
                    <div class="table-row">
                        <label class="table-cell">End date for training data</label>
                        <div class="table-cell-right">
                            <input type="date" id="start" name="end-date"
                               value="2016-07-29"
                               min="2000-01-01" max="2017-11-10">
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell-left">
                            <label>Number of epochs</label>
                        </div>
                        <div class="table-cell-right">
                            <input name="number-of-epochs" type="number" min="10" max="350000" value="150">
                        </div>
                    </div>
                </div>
                <div class="btn-div">
                    <button onclick="ToggleLoadingWheel(0);" class="btn btn-primary" type="submit" name="teach_button" value="teach">Teach NN</button>
                </div>
            </form>
        </div>

        <div class="upper-column">
            <h5 class="flex">You can start using your models on MarketPredict.io right now here!</h5>
            <form id="right_form" class="form-class" target="results_iframe" action="/results/" method="post"  enctype="multipart/form-data" style="{display:inline-block;}">
                {% csrf_token %}
                <div class="table-parent">
                    <div class="table-row">
                        <div class="table-cell-left">
                            <label>Name of the model:</label>
                        </div>
                        <div class="table-cell-right">
                            <select name="model-name">
                                {% for key, value in NNList.items %}
                                <option value={{ value }}> {{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell-left">
                            <label>Include evaluation data<span data-toggle="tooltip" data-placement="bottom" title="You need to have at least 115 working days (or 125 if with validation data) in your data. When more is available - the last 115 or 125 will be used for training."> (?)
                                </span>
                            </label>
                        </div>
{#                        <input style="width:auto" type="radio" id="with-evaluation-data" name="evaluation-data" value="with" checked="true">#}
{#                        <input style="width:auto" type="radio" id="without-evaluation-data" name="evaluation-data" value="without">#}
                        <div class="table-cell-right">
                            <input class="checkbox-input" id="if-evaluation-data" type="checkbox" name="evaluation-data" value="Checked">
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell-left">
                            <label for="upload">Upload your own .csv</label>
                        </div>
                        <div class="table-cell-right">
                            <input class="checkbox-input" id="if-own-data" onclick="ToggleUploadOwnData()" type="checkbox" name="upload" value="Checked">
                        </div>
                    </div>
                    <div class="table-row">
                        <div class="table-cell-left">
                            <label>Data:</label>
                        </div>
                        <div class="table-cell-right">
                            <select class="center" id="prepared-data-choice" name="data">
                                {% for key, value in testData.items %}
                                <option value={{ value }}> {{ value }}</option>
                                {% endfor %}
                            </select>
                        <input class="table-cell" style="display:none" id="own-data-choice" type="file" id="uploadFile" name="uploadFile" accept=".csv">
                        </div>
                    </div>
                </div>
                <div class="btn-div">
                    <button onclick="ToggleLoadingWheel(1);" class="btn btn-primary" type="submit" name="results_button" value="results">See results</button>
                </div>
            </form>
        </div>
    </div>

    <iframe name="results_iframe" src="" width="100%"
            onload="this.style.height=(this.contentDocument.body.scrollHeight+45) +'px';ToggleLoadingWheel(2);"
            scrolling="no"
            style="width:100%;border:none;">
        Sorry your browser does not support inline frames.
    </iframe>

    <div id="loading-wheel" class="loading style-2">
        <div class="loading-wheel"></div>
        <div class="loading-background"></div>
        <div class="loading-text">
            <p><span id="loading-text"></span></p>
        </div>
    </div>

</body>
</html>