<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>MarketPredict.io Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'MarketPredictIo/css/universal.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'MarketPredictIo/css/main.css' %}" >
</head>
<body>
    <div style="text-align: center;" class="flex-container">
        {% if error != None %}
            <div class="bottom-column">
                <h2>{{ error }}</h2>
            </div>
        {% endif %}
        {% if model != None %}
            <div class="bottom-column">
                <h2>This is the model:</h2>
                <img style="border: 2px solid black" class="center" src="data:image/png;base64,{{ model }}"\>
            </div>
        {% endif %}
        {% if plot != None %}
            <div class="bottom-column">
                <h2>This is the prediction:</h2>
                <img class="center" src="data:image/png;base64,{{ plot }}"\>
            </div>
        {% endif %}
        {% if func != None %}
            <div class="bottom-column">
                <h2>This is the loss function for training and validation data in each epoch:</h2>
                <img class="center" src="data:image/png;base64,{{ func }}"\>
            </div>
        {% endif %}
    </div>
{#    <form action="/">#}
{#        <button class="btn btn-primary center" type="submit">Go Back</button>#}
{#    </form>#}
</body>
</html>