<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>MarketPredict.io Wiki</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style>
        .block {
          display: block;
          width: 100%;
          border: none;
          background-color: #E8EBE4;
          padding: 14px 28px;
          font-size: 16px;
          cursor: pointer;
          text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'MarketPredictIo/css/navbar.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'MarketPredictIo/css/universal.css' %}" >
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="active" href="/wiki">Wiki</a></li>
        </ul>
    </div>

    {% load static %}
    <div style="text-align: center">
        <p>Przy pierwszej wizycie na stronie oczom użytkownika ukazuje się główny widok aplikacji - jest nim strona główna. Zaprezentowano ją na Rysunku 5.1. U góry strony umieszczony został pasek nawigacyjny, poprzez który może on dostać się do strony “Wiki”, zaprezentowanej dalej w tym rozdziale. Pod paskiem nawigacyjnym znajduje się tytuł witający użytkownika w aplikacji. Korzystając z niego użytkownikowi została przedstawiona także nazwa strony. Pod tytułem po lewej stronie znajduje się interfejs uczenia modelu. Wynikiem jego działania jest dodanie algorytmu o podanej nazwie do rozwijanej listy interfejsu wykorzystania modelu. Ten znajduje się po prawej stronie i jest zbudowany analogicznie.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_1.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.1</p>
        <p>Po naciśnięciu przycisku “Wiki” znajdującego się na pasku nawigacyjnym strony w lewym górnym rogu ekranu ukazuje się widok zaprezentowany na rysunku 5.2. Przedstawia on podstawy korzystania z aplikacji, a także informuje o niektórych jej wymaganiach, dotyczących na przykład wgrywanych plików.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_2.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.2</p>
        <p>Wracając do strony głównej, w niektórych miejscach dodane są znaki zapytania. Po najechaniu na nie myszką wyświetla się dymek opisujący szczegóły wyboru, którego może dokonać użytkownik, albo dokonujący klaryfikacji, co się dzieje w przypadkach brzegowych. Jedna z chmurek wyświetla się obok daty startowej dla uczenia algorytmu. Informuje o potrzebie wybrania zakresu dat spomiędzy których wśród danych znajdzie się przynajmniej 125 dni roboczych, czyli takich, które będą posiadały dane dla spółek. Dymek został przedstawiony na rysunku 5.3.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_3.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.3</p>
        <p>Druga z chmurek zawierających informacje po najechaniu myszką na znak zapytania znajduje się w przestrzeni przeznaczonej wykorzystaniu algorytmu. Informuje ona, iż podczas wybierania bądź wgrywania danych dla algorytmu należy się upewnić, że mają one co najmniej 115 próbek przy przewidywaniu bez danych ewaluacyjnych lub 125 przy chęci sprawdzenia w jaki sposób algorytm sobie poradził z przewidywaniem. Dymek został zaprezentowany na rysunku 5.4.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_4.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.4</p>
        <p>Jeśli użytkownik zrozumiał już zasady działania aplikacji, może przejść do uczenia algorytmu. Aby osiągnąć ten cel, użytkownik musi poprawnie wypełnić wszystkie pola w interfejsie uczenia algorytmu (po lewej stronie). Będzie to skutkowało stworzeniem modelu, z którego użytkownik będzie mógł skorzystać, wybierając jego nazwę przy przewidywaniu wykresów. Po naciśnięciu przycisku uczenia sieci neuronowej ukazuje się ekran pokazany na rysunku 5.5. Informuje on o tym, że nauczanie modelu jest w toku.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_5.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.5</p>
        <p>Gdy ekran ładowania zniknie, oczom użytkownika ukazuje się widok przedstawiony na rysunku 5.6. Składa się on z dwóch części. Po lewej wyświetlona zostaje struktura modelu, który nauczył użytkownik. W aktualnej wersji aplikacji jest tylko jeden algorytm, ale w przyszłości mógłby on pokazywać budowę każdego dostępnego modelu, a być może nawet modeli tworzonych przez użytkowników. Pokazuje on rodzaj warstw po kolei, a w przypadku zastosowanego algorytmu w aktualnej wersji także bardziej zaawansowane funkcje aktywacji - leaky Relu. Po prawej stronie zaś wyświetla się wynik funkcji strat dla każdej epoki podczas nauczania modelu.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_6.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.6</p>
        <p>Jeśli opisane informacje zostały wyświetlone, oznacza to że użytkownik może w interfejsie wykorzystania modelu po prawej stronie wybrać z listy rozwijanej model o określonej nazwie i wykorzystać go. Po wypełnieniu wszystkich pól interfejsu użytkownik może zacząć wykorzystanie modelu. Wciśnięcie przycisku zobaczenia wyników skutkuje wyświetleniem ekranu z rysunku 5.7.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_7.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.7</p>
        <p>Po zniknięciu ekranu ładowania modelu oczom użytkownika ukazuje się ekran z rysunku 5.8. Jest on analogiczny do ekranu wyniku uczenia algorytmu (z rysunku 5.6) podzielony na dwie części. Po lewej przedstawiona jest struktura wczytanego modelu, czyli jego warstwy i funkcje aktywacji. Po prawej z kolei oczekiwany przez użytkownika wykres predykcji. Zgodnie z legendą niebieskim kolorem zostały nakreślone dane wejściowe modelu, na podstawie których wykonuje on predykcję - ta z kolei została narysowana kolorem pomarańczowym.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_8.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.8</p>
        <p>Wynik wykorzystania modelu można także uzyskać z użyciem danych własnych poprzez ich wgranie w pliku z rozszerzeniem “.csv”. Ekran taki wygląda analogicznie i został przedstawiony na rysunku 5.9.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_9.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.9</p>
        <p>Na rysunku 5.10 wykorzystanie modelu zostało wywołane z takimi samymi parametrami, jak na poprzednim - różnica polega na tym, że w tym przypadku dodatkowo zostało zaznaczone pole wzięcia pod uwagę danych ewaluacyjnych. Oznacza to, że ostatnie 10 próbek zostało nakreślonych za pomocą zielonej linii, a 115 poprzedzających je zostało użytych do przewidywania (niebieska linia). W efekcie wartości podstawowe zostały nakreślone kolorem niebieskim, predykcji modelu pomarańczowym, a realne dane z dni predykcji kolorem zielonym. Dzięki temu użytkownik może porównać przewidywanie modelu do realnych wartości, które wystąpiły po okresie wykorzystanym do nauki klasyfikatora.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_10.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.10</p>
        <p>Podczas operacji uczenia modelu jest możliwe popełnienie błędu przez użytkownika, mianowicie - wybranie zbyt małej rozpiętości dat. Aplikacja próbuje znaleźć dane do nauki, ale w przypadku ich zbyt małej ilości, bądź ich braku, wyświetli informację błędu przedstawioną na rysunku 5.11.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_11.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.11</p>
        <p>Podczas wykorzystania modelu, aby wykorzystać wgrane dane z pliku “.csv”, muszą być one poprawnie spreparowane. Jednym z błędów, które można zrobić, jest zawarcie zbyt małej ilości próbek w danych. Aplikacja przy próbie przewidywania wykresu takiej spółki wyświetli użytkownikowi informację błędu taką jak na rysunku 5.12.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_12.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.12</p>
        <p>Innym możliwym błędem przy wgrywaniu danych przez użytkownika jest brak kolumn o nazwach “Close” bądź “Volume”. To właśnie na podstawie tych danych algorytm jest w stanie dokonać swoje obliczenia. Taki błąd będzie skutkował wyświetleniem użytkownikowi ekranu z rysunku 5.13.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_13.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.13</p>
        <p>Ostatnim możliwym błędem podczas wgrywania danych jest nazwanie więcej niż jednej kolumny “Close” bądź “Volume”. Algorytm nie wykonuje wtedy predykcji, wyświetlając użytkownikowi stosowną informację. Sytuacja taka została przedstawiona na rysunku 5.14.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_14.PNG' %}" width="60%" style="border:1px solid black;">
        <p>Rysunek 5.14</p>
        <p>Ostatnim komunikatem błędu jest zły format pliku. Jeśli użytkownik na siłę wybierze pokazywanie wszystkich rozszerzeń plików w okienku wyboru i zaznaczy nieobsługiwany format pliku, program poinformuje go w sposób przedstawiony na rysunku 5.15.</p>
        <img src="{% static 'marketPredictIo/img/Rys_5_15.PNG' %}" width="60%" style="border:1px solid black;">
    </div>

{#    <h1 class="h1" align="center">Available algorithms:</h1>#}
{#    <table class="table table-striped table-hover table-bordered">#}
{#        <thead class="thead-dark">#}
{#            <tr>#}
{#                <th>Algorithm Name</th>#}
{#                <th>Description</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#            <tr>#}
{#                <td>Neural Network with Relu function</td>#}
{#                <td>The most popular neural network which also uses the most poppular normalization function - ReLu.</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Convolutional Neural Network</td>#}
{#                <td>Neural network, which is most commonly used to detect things on images. Has some other applications.</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Short Long Term Memory Neural Network</td>#}
{#                <td>Neural network, which will most probably be the best for the task at hand.</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>Gated Recurrent Unit Neural Network</td>#}
{#                <td>Not much is known about this neural network, but its' uses boraden as of today.</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}

    <form action="/">
        <button class="block" type="submit">Go Back</button>
    </form>
</body>
</html>