.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
}
.loading-wheel {
    width: 20px;
    height: 20px;
    margin-top: -40px;
    margin-left: -40px;

    position: absolute;
    top: 50%;
    left: 50%;

    border-width: 30px;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
}
.loading-text {
    text-align: center;
    position: absolute;
    bottom: 30%;
    left: 42%;
    right: 42%;
}
.loading-text p {
    display: inline;
    width: 20%;
}
.loading-text p span {
    /*background-color: rgba(255, 255, 255, 0.5);*/
}
.loading-background {
    position: absolute;
    top: 32%;
    bottom: 28%;
    left: 40%;
    right: 40%;
    background-color: rgba(255, 255, 255, 0.5);
}
.style-2 .loading-wheel {
    border-style: double;
    border-color: #ccc transparent;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}