body {
    background-color: lightgray;
}

h5 {
    padding: 10px 0px 10px 0px;
    margin: 10px 0px 0px 0px;
}

.btn-div {
    margin: 10px 0px 0px 0px;
}

.flex-container {
	display: -ms-flex;
	display: -webkit-flex;
    display: flex;
    flex-direction: row;
    //border: solid black 2px;
}

.upper-column {
    flex: 1;
    width: 50%;
    margin: 10px 10px 10px 10px;
    background: rgb(180, 180, 180);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.bottom-column {
    flex: 1;
    width: 50%;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.center {
    display: block;
    margin: 0 auto;
}

.centerWrapper {
    text-align: center;
}

.inner-left-column {
    flex: 1;
    width: 50%;
    margin: 10px 10px 10px 10px;
    text-align: right;
}

.inner-right-column {
    flex: 1;
    width: 50%;
    margin: 10px 10px 10px 10px;
    text-align: left;
}

/* Tables for forms: */

.table-parent {
    flex: 1;
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
    width: 100%;
}

label.table-cell, .table-cell-left {
    display: table-cell;
    text-align: right;
    width: 40%;
}

.table-cell-right {
    display: table-cell;
    width: 60%;
    text-align: left;
}

.table-cell-right input, .table-cell-right select {
    width: 94%;
    margin: 5px 3%;
    padding: 0px 0px;
}
.table-cell-right .checkbox-input {
    width: auto;
}

.table-cell-left label {
    width: 94%;
    text-align: right;
    margin: 5px 3%;
    padding: 0px 0px;
}

/*.table-column-left {*/
    /*display: table-row;*/
    /*width: 100%;*/
/*}*/

/*.table-column-right {*/
    /*display: table-row;*/
    /*width: 100%;*/
/*}*/

/*label.table-cell {*/
    /*display: table-cell;*/
    /*text-align: right;*/
/*}*/

/* End of tables for forms */

.upper-column-header {
    flex: 0 1 auto;
}

.form-class {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 10px;
}
